<div class="col-5 ">
	<form>
		<div class="row mb-4">
			<div class="col">
				<p class="votes-number">Nombre de votants : 13/13</p>
				<ul>
					<li>
						Couple 1 : 2 votes
					</li>
					<li>
						Couple 2 : 3 votes
					</li>
					<li>
						Couple 3 : 8 votes
					</li>
				</ul>

			</div>
		</div>
		

	<div class="row mt-5 p-0 ">
		<div class="col"><input type="button" class="close-vote" value="Clôturer le vote"></div>
		<div class="col p-0">
			
		</div>

	</div>
