<div class="col-5 ">
	<form>
		<div class="row mb-4">
			<div class="col">
				<p class="votes-number">Nombre de votants : 13/13</p>
				<ul>
				<table>
					{% for candidat in candidats %}
					{%if candidat.titulaire%}
					<li>Résultats des votes .............. : ...votes</li>
						<span>Titulaire : {{candidat.titulaire}}<span></br>
					{%else%}
						<span>Suppléant : {{candidat.suppleant}}<span></br></br>
						{% endif %}
					{%endfor%}
					</ul>

				</div>
			</div>
			<div class="row mt-5 p-0 ">
				<div class="col"><input type="button" class="close-vote" value="Clôturer le vote"></div>
				<div class="col p-0"></div>

			</div>
		</div>
	</form>
	</div>
