{% extends 'base.html.twig' %}

{% block title %}Tour 1 | Vote Electeur{% endblock %}

{% block body %}

<style>

.register {
   background-color: var(--dark-grey);
   color:white;
   font-weight:700;
   width:250px;
   border:1px solid var(--dark-grey);
   margin-top:15px;
}

.highlight-text{
	font-weight:700
}

.form-container{
    margin-top:3%;
}
.liste-candidat-container{
    margin-top: 8px;
    margin-bottom:8px;
}
   
.candidats-selection{
margin-left:10px;
font-size:18px;
}

.form{
    margin-top:30px;
}

</style>
    <div class="d-flex justify-content-center">
<div class="w-50 form-container  ">
    <h2 class="my-2 ms-0 highlight-text ">Election des représentants de promotion</h2>
    <h5><strong>Résultat du premier tour</strong></h5>
    
    </div>
       </div>



<script>




	

</script>

{% endblock %}