{% block stylesheets %}
	<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
<header>
	{# <nav class="m-4 text-end me-5 mb-5">
		<a href="">Register</a>
	</nav> #}
	<div class='container-fluid mt-5'>
		<div class='text-start mt-3'>
			<h1>CEFIMVote</h1>
		</div>
	</div>
    
	{# <div class="mt-5" style="margin-top:300px">
		<div class='text-center'>
			<h1>CEFIMVote</h1>
		</div>
	</div> #}
</header>
