{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}


{% block body %}
	<style>
		ul {
			padding: 0
		}
		li {
			list-style: none;
		}
        select{
            display:block;
            width:100%;
			background-color:white;
			border: 1px solid var(--dark-grey)
			
        }
        input{
            width:100%
        }
		.votes-number{
    background-color: var(--light-grey)
}

.close-vote, .add-candidate, .start-vote, .select-candidates .register {
   background-color: var(--dark-grey);
   color:white;
   font-weight:700
}

.highlight-text{
	font-weight:700
}
	</style>

	
		<div class="row ">
			<div class="col-5 highlight-text">
				<div class="row">
					<div class="col">
						Promotion
					</div>
					<div class="col">
						DWWM2020-2
					</div>
				</div>
				<div class="row">
					<div class="col">
						Code de connexion
					</div>
					<div class="col">
						XACZER
					</div>
				</div>
				<div class="row">
					<div class="col">
						Date de scrutin
					</div>
					<div class="col">
						23 août 2021
					</div>
				</div>
				<div class="row">
					<div class="col">
						Heure de début
					</div>
					<div class="col">
						10h00
					</div>
				</div>
				<div class="row">
					<div class="col">
						Heure de fin
					</div>
					<div class="col"></div>
				</div>
				<div class="row">
					<div class="col">
						Liste des votants
					</div>
					<div class="col">
						<ul>
							<li>Jean
							</li>
							<li>Jean
							</li>
							<li>Jean
							</li>
							<li>Jean
							</li>
							<li>Jean
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col">
						
					</div>
					<div class="col">
						<input type="button" class="select-candidates" value="Sélectionner les candidats">
					</div>
				</div>
			</div>
			<div class="col-2 text-center highlight-text" >
				Candidats / Résultats Tour n°1
			</div>
			{# {{include('dashboard/partials/_select_candidates.html.twig')}} #}
			{{include('dashboard/partials/_vote_results.html.twig')}}
			
		</div>

{% endblock %}
